<ion-header translucent>
  <ion-toolbar>
    <ion-title>Import Wallet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Private Key</ion-label>
          <ion-input type="password" [(ngModel)]="privateKey"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="importWallet()" [disabled]="!isWalletReady()">Import Wallet
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
