<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'import_wallet_modal.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.dismiss()">{{'import_wallet_modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="importWalletInfo" (submit)="importWallet()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'import_wallet_modal.private_key_input' | translate}}</ion-label>
            <ion-input type="password" formControlName="privateKey"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'import_wallet_modal.wallet_name_input' | translate}}</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'import_wallet_modal.password_input' | translate}}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'import_wallet_modal.confirm_password_input' | translate}}</ion-label>
            <ion-input type="password" formControlName="passwordConfirm"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" type="submit" [disabled]="importWalletInfo.invalid || !passwordMatches()">Import &amp;
            {{'import_wallet_modal.save_wallet_button' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
