<ion-header translucent>
  <ion-toolbar>
    <ion-title>Encrypt & Save</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Wallet Name</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="selectedWalletName">
            <ion-select-option *ngFor="let name of walletNameList" [value]="name">{{name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Passphrase</ion-label>
          <ion-input type="password" [(ngModel)]="passphrase"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="loadWallet()" [disabled]="!isWalletReady()">Load Wallet
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
