<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Payment</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="isLoading$ | async">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [disabled]="isLoading$ | async" (click)="openQrScanner()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ng-container *ngIf="isLoading$ | async">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Receive</ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>
                <p>
                  <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>
                  <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>
                  <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Send</ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label>
                <p>
                  <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>
                  <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-card-content>
              <ion-button expand="block" disabled="disabled">Send</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="!(isLoading$ | async)">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Receive</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <qr-code [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeAddress : ''" [size]="1000"></qr-code>
            </ion-card-content>
            <ion-item>
              <ion-label position="floating">Address</ion-label>
              <ion-input readonly="readonly" type="text"
                         [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeAddress : ''"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Available Balance</ion-label>
              <ion-input type="number" readonly="readonly"
                         [value]="paymentService.availableBalance$ | async"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Scanned Balance</ion-label>
              <ion-input type="number" readonly="readonly"
                         [value]="paymentService.scannedBalance$ | async"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Send</ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-label position="floating">Address</ion-label>
              <ion-input clearInput required type="text" [(ngModel)]="sendToAddress"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Amount</ion-label>
              <ion-input clearInput required type="number" [max]="paymentService.scannedBalance$ | async"
                         min="0" [(ngModel)]="sendToAmount"></ion-input>
            </ion-item>
            <ion-card-content>
              <ion-button expand="block" color="success" (click)="makePayment()">Send</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
