.info-cards {
  ion-icon {
    font-size: 300px;
    position: absolute;
    opacity: 0.15;
  }

  ion-item {
    ion-label {
      font-size: 24px;
      padding-top: 10vh;
      padding-bottom: 10vh;
      text-align: right;
    }
  }
}
