<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'wallet_page.title' | translate}}
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="openSettings()" color="dark">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'wallet_page.title' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openSettings()" color="dark">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{'wallet_page.card_title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{'wallet_page.card_description' | translate}}</p>
            <ion-text color="danger"
                      *ngIf="(janinService.isWalletLoaded() | async) && !(janinService.walletSaved$ | async)">
              {{'shared.warnings.not_saved' | translate}}
            </ion-text>
          </ion-card-content>
          <ion-item>
            <ion-label position="floating">{{'wallet_page.card_address_input' | translate}}</ion-label>
            <ion-input readonly="readonly" type="text"
                       [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeAddress : ''"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{'wallet_page.card_private_key_input' | translate}}</ion-label>
            <ion-input readonly="readonly" [type]="(showPrivateKey$ | async) ? 'text' : 'password'"
                       [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeWifPrivateKey : ''"></ion-input>

            <ion-button slot="end" (click)="togglePrivateKeyVisibility()" size="medium" color="light"
                        [disabled]="!(janinService.loadedWallet$ | async)">
              <ion-icon [name]="(this.showPrivateKey$ | async) ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button id="load" (click)="loadWallet()" color="primary" expand="block">
                  <ion-icon name="lock-open"></ion-icon>&nbsp;
                  {{'wallet_page.card_load_button' | translate}}
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button id="unload" (click)="unloadWallet()" color="warning" expand="block">
                  <ion-icon name="exit"></ion-icon>&nbsp;
                  {{'wallet_page.card_unload_button' | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="info-cards" (click)="generateWallet()">
          <ion-item button lines="none" color="primary">
            <ion-icon name="dice"></ion-icon>
            <ion-label>{{'generate_wallet_modal.title' | translate}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="info-cards" (click)="importWallet()">
          <ion-item button lines="none" color="secondary">
            <ion-icon name="download"></ion-icon>
            <ion-label>{{'import_wallet_modal.title' | translate}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="info-cards" (click)="deleteWallet()">
          <ion-item button lines="none" color="danger">
            <ion-icon name="trash"></ion-icon>
            <ion-label>{{'delete_wallet_modal.title' | translate}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
