<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'wallet_page.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'wallet_page.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning" (click)="deleteWallet()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" [disabled]="!(janinService.loadedWallet$ | async)" (click)="storeWallet()">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="loadWallet()">
        <ion-icon name="lock-open"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="importWallet()">
        <ion-icon name="download"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{'wallet_page.card_title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{'wallet_page.card_description' | translate}}</p>
            <ion-text color="danger" *ngIf="(janinService.isWalletLoaded() | async) && !(janinService.walletSaved$ | async)">
              {{'shared.warnings.not_saved' | translate}}
            </ion-text>
          </ion-card-content>
          <ion-item>
            <ion-label position="floating">{{'wallet_page.card_address_input' | translate}}</ion-label>
            <ion-input readonly="readonly" type="text"
                       [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeAddress : ''"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{'wallet_page.card_private_key_input' | translate}}</ion-label>
            <ion-input readonly="readonly" [type]="(showPrivateKey$ | async) ? 'text' : 'password'"
                       [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeWifPrivateKey : ''"></ion-input>

            <ion-button slot="end" (click)="togglePrivateKeyVisibility()" size="medium" color="light"
                        [disabled]="!(janinService.loadedWallet$ | async)">
              <ion-icon [name]="(this.showPrivateKey$ | async) ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button id="generate" (click)="generateWallet()" color="primary" expand="block">
                  <ion-icon name="dice"></ion-icon>&nbsp;
                  {{'wallet_page.card_generate_button' | translate}}
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button id="unload" (click)="unloadWallet()" color="warning" expand="block">
                  <ion-icon name="exit"></ion-icon>&nbsp;
                  {{'wallet_page.card_unload_button' | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
