<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wallet</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="generateWallet()" color="primary">Generate</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="loadWallet()" color="light">Load Wallet</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>LiteDoge Wallet</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Address</ion-label>
              <ion-input readonly="readonly" type="text"
                         [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeAddress : ''"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Private Key</ion-label>
              <ion-input readonly="readonly" [type]="(showPrivateKey$ | async) ? 'text' : 'password'"
                         [value]="(janinService.loadedWallet$ | async) ? (janinService.loadedWallet$ | async).litedogeWifPrivateKey : ''"></ion-input>
            </ion-item>
            <ion-row>
              <ion-button (click)="togglePrivateKeyVisibility()" color="warning"
                          [disabled]="!(janinService.loadedWallet$ | async)">
                <ion-icon name="eye-outline"></ion-icon>
                Toggle Private Key
              </ion-button>
              <ion-button (click)="storeWallet()" color="light" [disabled]="!(janinService.loadedWallet$ | async)">
                <ion-icon name="save-outline" slot="start"></ion-icon>
                Encrypt
                & Store
              </ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
