<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transactions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="!(infiniteScrollReady$ | async)">
    <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5]">
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </h2>
      </ion-label>
      <ion-label>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="(infiniteScrollReady$ | async) && (transactionService.transactions$ | async).length === 0">
    <ion-row>
      <ion-col>
        Unfortunate. There are no transactions.
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item button *ngFor="let transaction of (transactionService.transactions$ | async)">
      <ion-label [color]="transaction.isSpend() ? 'danger' : 'success'">
        <h2>{{transaction.getAmount()}}</h2>
      </ion-label>
      <ion-label>
        <p>{{transaction.txid}}</p>
        <p>{{transaction.timestamp * 1000 | date:'yyyy/MM/dd HH:mm:ss'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
                       [disabled]="!(infiniteScrollReady$ | async) || (infiniteScrollReachedEnd$ | async)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
