<ion-app>
  <ion-header *ngIf="this.appService.isHideBackground$ | async" class="show-bg">
    <ion-toolbar class="show-bg">
      <ion-buttons slot="start" class="show-bg">
        <ion-button (click)="appService.triggerBackButton()" class="show-bg">
          <ion-icon name="chevron-back"></ion-icon>&nbsp;Back
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet [ngClass]="{'hide-bg' : this.appService.isHideBackground$ | async}"></ion-router-outlet>
</ion-app>
