<ion-app>
  <ion-header *ngIf="this.appService.isHideBackground$ | async">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="this.appService.triggerBackButton()">
          <ion-icon name="chevron-back"></ion-icon>&nbsp;Back
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="this.appService.isHideBackground$ | async" class="transparent-body">
  </ion-content>
  <ion-router-outlet [ngClass]="{'hide-bg' : this.appService.isHideBackground$ | async}"></ion-router-outlet>
</ion-app>
