<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'load_wallet_modal.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.dismiss()">{{'load_wallet_modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ng-container *ngIf="(isLoading$ | async)">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'load_wallet_modal.wallet_name' | translate}}</ion-label>
            <p>
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{'load_wallet_modal.password' | translate}}</ion-label>
            <p>
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ng-container *ngIf="!(isLoading$ | async)">
      <form [formGroup]="loadWalletForm" (submit)="loadWallet()">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'load_wallet_modal.wallet_name' | translate}}</ion-label>
              <ion-select placeholder="Select One" formControlName="name">
                <ion-select-option *ngFor="let name of walletNameList" [value]="name">{{name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{'load_wallet_modal.password' | translate}}</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="block" type="submit" [disabled]="loadWalletForm.invalid">{{'load_wallet_modal.load_wallet_button' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ng-container>
  </ion-grid>
</ion-content>
