<ion-header translucent>
  <ion-toolbar>
    <ion-title>Encrypt & Save</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form (submit)="saveWallet()" [formGroup]="walletSaveInfo">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input readonly type="text"
                       [value]="(this.janinService.loadedWallet$ | async) ? (this.janinService.loadedWallet$ | async).litedogeAddress : ''"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Private Key</ion-label>
            <ion-input readonly type="password"
                       [value]="(this.janinService.loadedWallet$ | async) ? (this.janinService.loadedWallet$ | async).litedogeWifPrivateKey : ''"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Wallet Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="passwordConfirm"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" expand="block" type="submit"
                      [disabled]="walletSaveInfo.invalid || !(this.janinService.isWalletLoaded() | async) || !passwordMatches()">
            Save Wallet
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
